@media (max-width: 26.75em) {
  html {
    font-size: 50%;
  }

  /* .pb__main-nav {
    display: none;
  } */

  .mobile-nav {
    display: flex;
    align-items: center;
    padding: 3rem 3rem 5rem;
  }

  .icon-mobile-nav {
    font-size: 4rem;
  }

  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }

  .pb__main-nav {
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 3;

    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    opacity: 0;

    pointer-events: none;

    visibility: hidden;
  }

  .nav-open .pb__main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .icon-mobile-nav[name='close-outline'] {
    display: none;
  }

  .nav-open .icon-mobile-nav[name='close-outline'] {
    display: block;
    position: relative;
    z-index: 3;
  }

  .nav-open .icon-mobile-nav[name='menu-outline'] {
    display: none;
  }

  .main-nav-list {
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
    align-items: center;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }

  .pb__main-nav--logo {
    margin: 0 10rem;
    position: relative;
    z-index: 3;
  }

  .logo-desktop {
    display: none;
  }

  .section-hero {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .hero-primary-heading {
    font-size: 4.4rem;
  }

  .hero-divider {
    margin: 5rem 0;
  }

  .hero-text {
    font-size: 2.6rem;
  }

  .btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8rem;
  }
}

@media (max-width: 23.4375em) {
  .hero-primary-heading {
    font-size: 4.2rem;
  }

  .hero-text {
    font-size: 2.2rem;
  }
}
