/* On smaller screens, decrease text size in gallery */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}

@media (hover: hover) {
  .main-nav-link:hover {
    color: var(--accent);
  }

  .home-link:hover {
    color: var(--font-color-main);
  }

  .button-77:hover:not(:disabled):after {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    transition-timing-function: ease-in;
  }

  .btn--form:hover {
    background-color: #fff;
    color: var(--font-color-main);
  }

  .footer-link:hover {
    color: var(--accent);
  }

  .footer-socials a ion-icon:hover {
    color: var(--accent);
  }

  .instagram:hover .comingsoon {
    opacity: 1;
  }
}

/* tablets portrait */

@media (max-width: 56.5625em) {
  html {
    font-size: 55%;
  }

  .hero--grid-container {
    grid-template-columns: 1fr;
    row-gap: 8rem;
  }

  .features--flex-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    gap: 8rem;
  }

  .feature-card {
    max-width: 100%;
  }

  /* .feature-card {
    max-width: 42rem;
  } */

  .cta {
    grid-template-columns: 1fr;
  }

  .cta-img-box {
    height: 32rem;
    grid-row: 1;
  }

  .grid-footer {
    column-gap: 13rem;
  }
}

/* @media (max-width: 51.25rem) {
  .feature-card {
    max-width: 37rem;
  }
 } */

/* iphone 14 pro max */

@media (max-width: 26.875em) {
  html {
    font-size: 50%;
  }

  /* .pb__main-nav {
    display: none;
  } */

  .mobile-nav {
    display: flex;
    align-items: center;
    padding: 6rem 3rem 5rem;

    position: relative;
  }

  .icon-mobile-nav {
    font-size: 4rem;
  }

  .nav__checkbox {
    display: none;
  }

  .nav__icon {
    position: relative;
    margin-top: 1.5rem;
    z-index: 3;
  }

  .nav__icon,
  .nav__icon::before,
  .nav__icon::after {
    display: inline-block;
    width: 3rem;
    height: 2px;
    background-color: #444;
  }

  .nav__icon::before,
  .nav__icon::after {
    content: '';
    position: absolute;
    left: 0;
    transition: all 0.2s;
  }

  .nav__icon::before {
    top: -0.8rem;
  }

  .nav__icon::after {
    top: 0.8rem;
  }

  .nav__button:hover .nav__icon::before {
    top: -1rem;
  }

  .nav__button:hover .nav__icon::after {
    top: 1rem;
  }

  .nav__checkbox:checked + .nav__button .nav__icon {
    background-color: transparent;
  }

  .nav__checkbox:checked + .nav__button .nav__icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  .nav__checkbox:checked + .nav__button .nav__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }

  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }

  .pb__main-nav {
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 3;

    /* transform: translateX(100%); */

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    opacity: 0;

    pointer-events: none;

    visibility: hidden;
  }

  .nav-open .pb__main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    /* transform: translateX(0); */
  }

  .icon-mobile-nav[name='close-outline'] {
    display: none;
  }

  .nav-open .icon-mobile-nav[name='close-outline'] {
    display: block;
    position: relative;
    z-index: 3;
  }

  .nav-open .icon-mobile-nav[name='menu-outline'] {
    display: none;
  }

  .main-nav-list {
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
    align-items: center;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }

  .pb__main-nav--logo {
    margin: 0;
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
  }

  .logo-desktop {
    display: none;
  }

  .hero--grid-container {
    grid-template-columns: 1fr;
  }

  .pb__hero-intro {
    text-align: center;
    margin-bottom: 8rem;
  }

  .hero-primary-heading {
    font-size: 4.4rem;
  }

  .hero-divider {
    margin: 5rem 0;
  }

  .hero-text {
    font-size: 2.5rem;
  }

  .btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8rem;
  }

  .features--flex-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .feature-card {
    max-width: 100%;
  }

  .feature-heading {
    font-size: 2.2rem;
  }

  .feature-text {
    font-size: 2rem;
  }

  .booking-btn {
    padding: 2.8rem 8rem;
  }

  .cta {
    grid-template-columns: 1fr;
  }

  .cta-img-box {
    height: 32rem;
    grid-row: 1;
  }

  .cta-text-box {
    padding: 3.2rem;
  }
  .cta-text {
    font-size: 2rem;
  }

  .cta-form label {
    font-size: 1.9rem;
    margin-bottom: 2.2rem;
  }

  .cta-form input::placeholder {
    font-size: 1.8rem;
  }

  .cta-form select {
    font-size: 1.3rem;
  }

  .pb__footer {
    /* padding: 8rem 5rem; */
  }

  .grid-footer {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 6rem;
  }

  .footer-logo-box {
    text-align: center;
  }

  .footer-logo {
    width: 16rem;
    margin-bottom: 4rem;
  }

  .footer-socials {
    justify-content: center;
    margin-top: 2rem;
  }

  .footer-socials--icon {
    font-size: 4rem;
  }
}

@media (max-width: 23.4375em) {
  .pb__main-nav--logo {
    margin: 0 10rem;
  }

  .hero-primary-heading {
    font-size: 4.2rem;
  }

  .hero-text {
    font-size: 2.2rem;
  }

  #pb__slider {
    height: 50vw;
  }
}
