/* HEADER NAV */

.pb__main-nav {
  font-family: var(--font-nav);
  max-width: 120rem;
  margin: 0 auto;
  padding: 4rem 0 4rem;
}

.main-nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6rem;
  font-size: 2rem;
}

.pb__main-nav--logo {
  width: 12.6rem;
  filter: brightness(0%);
  margin: 0 4rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  color: var(--font-color-main);
}

.main-nav-link:active {
  color: var(--accent);
}

.home-link:link,
.home-link:visited {
  color: var(--accent);
}

.home-link:active {
  color: var(--font-color-main);
}

.mobile-nav {
  display: none;
}

/* HERO */
.section-hero {
  padding: 6rem 0 10rem;
}

.hero--grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 6.5rem;
  justify-content: center;
  align-items: center;
}

.hero-primary-heading {
  font-size: 6rem;
  font-weight: 700;
  letter-spacing: 0.4rem;
}

.hero-divider {
  margin: 4rem 0;
}

.hero-divider img {
  width: 30rem;
}

.hero-text {
  font-size: 2.2rem;
  letter-spacing: 0.2rem;
  line-height: 1.6;
  margin-bottom: 6rem;
}

/* BUTTON */
.button-77 {
  align-items: center;
  appearance: none;
  background-clip: padding-box;
  background-color: initial;
  background-image: none;
  border-style: none;
  box-sizing: border-box;
  color: var(--font-color-main);
  cursor: pointer;
  display: inline-block;
  flex-direction: row;
  flex-shrink: 0;
  font-family: var(--font-nav), sans-serif;
  font-size: 2.4rem;
  font-weight: 800;
  justify-content: center;
  line-height: 2.5rem;
  margin: 0;
  min-height: 6.4rem;
  outline: none;
  overflow: visible;
  padding: 1.9rem 2.6rem;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: auto;
  word-break: keep-all;
  z-index: 0;
}

.button-77 {
  padding: 3.5rem 7rem;
}

.button-77:before,
.button-77:after {
  border-radius: 80px;
}

.button-77:before {
  background-color: rgba(158, 199, 0, 0.32);
  content: '';
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.button-77:after {
  background-color: initial;
  background-image: linear-gradient(92.83deg, #bad07c 0, #9fc700 100%);
  bottom: 4px;
  content: '';
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
}

.button-77:active:not(:disabled) {
  color: #ccc;
}

.button-77:active:not(:disabled):after {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    linear-gradient(92.83deg, #bad07c 0, #9fc700 100%);
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
}

.button-77:disabled {
  cursor: default;
  opacity: 0.24;
}

/* NEW GALLERY SLIDER */
/* .carousel-container {
  max-width: 100%;
  margin: auto;
  overflow: hidden;
  position: relative;
  align-self: center;
  border-radius: 3rem;
  background-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(9, 9, 121, 0) 15%,
    rgba(3, 154, 217, 0) 85%,
    rgba(0, 0, 0, 0.6) 100%
  );
}

.carousel-slide {
  display: flex;
  
  height: 100%;
}

.carousel-slide img {
  max-width: 100%;
}

#prevBtn {
  position: absolute;
  top: 50%;
  z-index: 10;
  left: 5%;
  font-size: 3rem;
  color: #fff;
  opacity: 0.5;
  cursor: pointer;
}

#nextBtn {
  position: absolute;
  top: 50%;
  z-index: 10;
  right: 5%;
  font-size: 3rem;
  color: #fff;
  opacity: 0.5;
  cursor: pointer;
} */

/* GALLERY SLIDER */

.mySlides {
  display: none;
}

.slide-img {
  vertical-align: middle;
  border-radius: 3rem;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.slider-icon {
  font-size: 3rem;
  opacity: 0.8;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* FEATURES */

.section-features {
  /* padding: 6rem 0 10rem; */
}

.section-features {
  margin: 6rem 0 10rem;
  padding: 0 4.8rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 6rem;
  /* align-items: start; */
}

.feature-card {
  background-color: rgba(229, 229, 229, 0.6);
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: center;
  border-radius: 3rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform 0.3s;
  /* max-width: 27rem; */
  padding: 3rem 2.5rem;
}

.feature-card__icon {
  font-size: 4rem;
  margin-bottom: 1rem;
  display: inline-block;
  color: #fff;
  padding: 0.8rem;
  background-color: rgba(159, 199, 0, 0.5);
  border-radius: 50%;
}

.feature-card:hover {
  transform: translateY(-1.5rem);
}

.feature-heading {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.feature-text {
  font-size: 1.7rem;
}

/* BOOK NOW */

.section-booking {
  padding: 6rem 0 10rem;

  font-size: 1.8rem;
}

.section-booking-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;

  flex-wrap: wrap;
}

.heading-secondary {
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 0.4rem;
  text-align: center;
  margin-bottom: 6rem;
}

.check-out-box,
.check-in-box {
  background-color: #eee;
  border-radius: 3rem;
  padding: 1.5rem 1rem;
}

.check-out-box label,
.check-in-box label {
  color: #a2a2a2;
}

.input-box {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.input-box input {
  background-color: transparent;
  font-family: var(--font-main);
  font-size: 1.8rem;
  border: none;
}

.booking-icon {
  font-size: 3rem;
}

.booking-btn {
  padding: 2.8rem 5.5rem;
}

/* contact us */

.section-cta {
  padding: 6rem 0 15rem;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-image: linear-gradient(
    to right bottom,
    rgb(186, 208, 124),
    #9fc700
  );
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 3rem;
  overflow: hidden;
}

.cta .heading-secondary {
  text-align: left;
}

.cta-text-box {
  padding: 4.8rem 6.4rem;
  color: var(--font-color-main);
}

.cta-text-box .heading-secondary {
  color: inherit;
  margin-bottom: 3.2rem;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}
.cta-img-box {
  background-image: linear-gradient(
      rgb(186, 208, 124, 0.35),
      rgb(159, 199, 0, 0.35)
    ),
    url('../img/cta-img.jpg');
  background-size: cover;
  background-position: center;
}

.cta-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select,
.cta-form textarea {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #f5f9e6;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 10%);
}

.cta-form input::placeholder,
.cta-form textarea::placeholder {
  color: #aaa;
}

.message-container {
  grid-column: 1 / 3;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 8px rgb(253, 242, 233, 0.5);
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;

  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;

  transition: ease all 0.3s;

  /* only fot .btn */
  border: none;
  cursor: pointer;
  font-family: inherit;
}

.btn--form {
  background-color: #101400;
  color: #f5f9e6;
  align-self: end;
  padding: 1.2rem;
}

/* footer */

.pb__footer {
  background-color: #cdcdcd;
  padding: 12rem 0 8rem;
  font-size: 1.6rem;
}

.footer-logo {
  width: 12rem;
  margin-bottom: 2rem;
}

.grid-footer {
  display: grid;
  grid-template-columns: 2fr 1fr 1.5fr;
  column-gap: 25rem;
}

.footer__contact-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}

.footer-icon {
  width: 2rem;
}

.footer__contact-box li {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
}

.footer-link:link,
.footer-link:visited {
  color: inherit;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
}

.footer-link:active {
  color: var(--accent);
}

.footer-nav-box {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.footer-socials {
  display: flex;
  align-items: flex-start;
  gap: 2.5rem;
}

.footer-socials--icon {
  font-size: 2.5rem;
}

.instagram {
  position: relative;
  display: inline-block;
}

.instagram .comingsoon {
  visibility: hidden;
  width: 120px;
  background-color: var(--font-color-main);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  top: 100%;
  left: 50%;
  margin-left: -60px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.instagram:hover .comingsoon {
  visibility: visible;
}

.instagram .comingsoon::after {
  content: ' ';
  position: absolute;
  bottom: 100%; /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent var(--font-color-main) transparent;
}

.instagram .comingsoon {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.footer-socials a {
  color: inherit;
  transition: all 0.3s;
}

.footer-socials a ion-icon {
  transition: all 0.3s;
}

.footer-socials a ion-icon:hover {
  color: var(--accent);
}
