/* HEADER NAV */

.pb__main-nav {
  font-family: var(--font-nav);
  max-width: 120rem;
  margin: 0 auto;
  padding: 4rem 0 8rem;
}

.main-nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6rem;
  font-size: 2rem;
}

.pb__main-nav--logo {
  width: 12.6rem;
  filter: brightness(0%);
  margin: 0 4rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  color: var(--font-color-main);
}

.main-nav-link:hover,
.main-nav-link:active {
  color: var(--accent);
}

.home-link:link,
.home-link:visited {
  color: var(--accent);
}

.home-link:hover,
.home-link:active {
  color: var(--font-color-main);
}

.mobile-nav {
  display: none;
}

/* HERO */
.section-hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 6.5rem;
  padding: 0 4rem;
  padding-bottom: 10rem;
}

.pb__hero-intro {
  align-self: center;
}

.hero-primary-heading {
  font-size: 6rem;
  font-weight: 700;
  letter-spacing: 0.4rem;
}

.hero-divider {
  margin: 4rem 0;
}

.hero-divider img {
  width: 30rem;
}

.hero-text {
  font-size: 2.2rem;
  letter-spacing: 0.2rem;
  line-height: 1.6;
  margin-bottom: 6rem;
}

/* .btn-hero {
  display: flex;
  align-items: center;
  width: 23rem;
  background-color: var(--accent);
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 0.1rem solid var(--font-color-main);

  transition: background-color 0.5s ease-in-out;
}

.btn-hero:hover {
  background-color: var(--main-bkg);
}

.btn-hero p {
  color: var(--font-color-main);
  font-size: 2.4rem;
  letter-spacing: 0.2rem;
  padding: 1.5rem 1rem;
  border-radius: 0.4rem;
  background-color: var(--main-bkg);
}

.btn-hero img {
  margin: 0 auto;
}
 */

/* BUTTON */

/* CSS */
.button-77 {
  align-items: center;
  appearance: none;
  background-clip: padding-box;
  background-color: initial;
  background-image: none;
  border-style: none;
  box-sizing: border-box;
  color: var(--font-color-main);
  cursor: pointer;
  display: inline-block;
  flex-direction: row;
  flex-shrink: 0;
  font-family: var(--font-nav), sans-serif;
  font-size: 2.4rem;
  font-weight: 800;
  justify-content: center;
  line-height: 2.5rem;
  margin: 0;
  min-height: 6.4rem;
  outline: none;
  overflow: visible;
  padding: 1.9rem 2.6rem;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: auto;
  word-break: keep-all;
  z-index: 0;

  margin-bottom: 8rem;
}

@media (min-width: 768px) {
  .button-77 {
    padding: 19px 32px;
  }
}

.button-77:before,
.button-77:after {
  border-radius: 80px;
}

.button-77:before {
  background-color: rgba(158, 199, 0, 0.32);
  content: '';
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.button-77:after {
  background-color: initial;
  background-image: linear-gradient(92.83deg, #bad07c 0, #9fc700 100%);
  bottom: 4px;
  content: '';
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
}

.button-77:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
}

.button-77:active:not(:disabled) {
  color: #ccc;
}

.button-77:active:not(:disabled):after {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    linear-gradient(92.83deg, #bad07c 0, #9fc700 100%);
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
}

.button-77:disabled {
  cursor: default;
  opacity: 0.24;
}

.pb__hero-img img {
  width: 100%;
  border-radius: 4.5rem;
  box-shadow: 0 12rem 7rem -9rem rgba(186, 208, 124, 0.9);
}
